body{
    margin: 0;
    padding: 50px;
    background-image: url("../images/bg_desktop.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    height: 100vh;
    width: 100vw;
}

*{
    box-sizing: border-box;
}

.container-global{
    font-family: "lato";
    margin-bottom: 50px ;
    display: flex;
}

header img{
    width: clamp(20rem,20.3vw,24.375rem);
}

main{
    width: 100%;
}

.container-left, .container-right{
    width: 50%;
}

.container-left{
    color: #ffffff;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

header{
    margin-top: 50px;
}

main{
    text-transform: uppercase;
}

main h1{
    color: #917956;
    font-size: clamp(2.7rem,2.6vw,3.125rem);
    font-weight: 900;
    margin-top: 5vw;
    margin-bottom: 20px;   
}

.launch-date{
    color: #ffffff;
    font-size: clamp(2.075rem,2.1vw,2.5rem);
    font-weight: 300;
    margin: 0;
}

.text-info{
    font-size: clamp(1.325rem,1.46vw,1.75rem);
    font-weight: 300;
}

.bold-text{
    font-weight: 700;
}

footer{
    margin-top: min(3vw, 50px);
}

footer p{
    font-size: 0.625rem;
    font-weight: lighter;
    width: 310px;
}

.footer-mobile{
    display: none;
}

/*----------------Section formulaire ---------------------------*/

.container-right{
    display: flex;
    justify-content: center;
}

.container-form{
    background-color: #ffffff;
    min-width: 300px;
    width: 550px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    margin-top: 60px;
    padding-bottom: 50px;
    margin-left: 100px;
}

.container-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-form h1{
    color: #000000;
    font-size: clamp(2.138rem,2.14vw,2.563rem);
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;

}

.subtitle-form{
    color: #000000;
    font-size: 1rem;
    font-size: clamp(.7rem,.833vw,1rem);
    font-weight: 400;
}

input{
    color: #696f6f;
    background-color: #f1f5f3;
    font-size: clamp(.7rem,.833vw,1rem);
    font-style: italic;
    border: 0;
    width: 100%;
    height: 40px;
    padding-left: 30px;
    margin-bottom: 18px;
}

.text-appointment{
    font-size: clamp(.7rem,.833vw,1rem);
    font-weight: 400;
    margin: 0;
    margin-bottom: 10px;
}

.container-appointment{
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
}

.container-appointment input{
    color: #696f6f;
    background-color: #f1f5f3;
    font-size: clamp(.7rem,.833vw,1rem);
    font-weight: 400;
    margin: 0;
    margin-bottom: 10px;
    padding-left: 40px;
    width: 100%;
}

.info-form{
    font-size: 0.625rem;
    font-weight: 400;
    margin: 0;
    margin-bottom: 20px;
}

.container-consent{
    display: flex;
    text-align: start;
}

.container-consent input{
    width: clamp(20px, 1.56vw, 30px);
    height: clamp(20px, 1.56vw, 30px);
    margin-right: 15px;
}

.container-consent label{
    color: #000000;
    font-size: 0.938rem;
    font-size: clamp(.7rem,.783vw,.938rem);
    font-weight: 400;
}

.container-btn-form{
    margin-top: 10px;
}

.container-btn-form button{
    background-color: #917956;
    color: #ffffff;
    border-radius: 25px;
    font-weight: 300;
    font-size: 1.375rem;
    font-size: clamp(.950rem,1.146vw,1.375rem);
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    transition: all 0.3s;
}

.container-btn-form button:hover{
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #917956;
    color: #917956;
}

#suggestionBox {
    border: 1px solid #ddd;
    display: none;
    position: absolute; 
    background-color: white;
    height: 350px;
    overflow: scroll;
    box-sizing: border-box;
    z-index: 1000; 
    top:40px;
}

.suggestion {
    padding: 10px;
    cursor: pointer;
    background-color: #917956;
    color: #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

.suggestion:hover {
    background-color: #f0f0f0;
    color: #917956;
}

.input-appointment{
    position: relative;
    width: 100%;
}

.container-input-city{
    position: relative;
    width: 100%;
}

    /*-----input qui gère la date et l'heure-------*/

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    left: 11px;
    z-index: 9999;
    font-size: 1.3rem;
}
input[type="date"]::-webkit-calendar-picker-indicator:hover {
    cursor: pointer;
}
input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    left: 0px;
    z-index: 9999;
    font-size: 1.3rem;
}
input[type="time"]::-webkit-calendar-picker-indicator:hover {
    cursor: pointer;
}

.input-appointment span{
    position: absolute;
    top: 7px;
    left: 10px;
}



/*------------Partie mobile-----------*/

@media screen and (max-width:1100px) {

    body{
        background-image: url("../images/bg_mobile.svg");
        height: 100%;
        width: 100%;
    }

    header img{
        width: 80%;
        padding: 20px;
    }

    main h1{
        margin-top: 0;
    }

    .container-img-footer{
        margin: 0 auto;
        width: 175px;
    }

    .container-global{
        flex-direction: column;
    }

    .container-left, .container-right{
        margin: 0 auto;
        width: 100%;
    }

    .footer-desktop{
        display: none;
    }

    .footer-mobile{
        display: block;
        margin: 0 auto;
        margin-top: 100px;
    }

    .container-form{
        margin-left: 0;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 20px;
    }


    footer p{
        color: #ffffff;
        text-align: center;
    }

    br.br-subtile {
        display: none;
    }
}

@media screen and (max-width:768px) {

    .input-appointment{
        width: 100%;
    }

    .input-appointment span{
        font-size: 1.5rem ;
    }

    .container-form{
        margin-left: 50px;
        margin-right: 50px;
    }

    .container-left h1{
        font-size: 1.75rem;
    }

    .launch-date{
        font-size: 1.375rem;
    }

    .text-info{
        font-size: 1.25rem;
    }

    .container-form h1{
        font-size: 1.563rem;
    }

    .subtitle-form, input, .text-appointment, .container-appointment input, .suggestion{
        font-size: 0.75rem;
    }

    .container-consent label{
        font-size: 0.563rem;
    }

    button{
        font-size: 1.375rem;
    }

    footer p{
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
    }

    .container-consent input{
        width: 20px;
        height: 20px;
    }


}